{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu des pizzas</title>
    <link rel="stylesheet" href="{% static 'menu/syle.css' %}">
</head>
<body>
    <a href="{% url 'main-index' %}">
        <img id="small_logo" src="{% static 'menu/images/small_logo.png' %}" alt="">
    </a>
    <div class="menu_title">
        <h1>Les pizzas </h1>
    </div>
    <div class="menu_list">
        {% for pizza in pizzas %}
            <div class="menu_list_item">
                <span class="menu_list_title">{{pizza.nom}}</span>
                <span class="menu_list_price">{{ pizza.prix | floatformat:2 }}€</span> <br>
                <span class="menu_list_ingredients">{{pizza.ingredients}}</span>
                {% if pizza.vegetarienne %}
                   <br> <span class="menu_list_logo">VEGETARIENNE</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>